fieldset {
    margin: 0 auto;
    width: 20rem;
    height: auto;
    margin-top: 10rem;
    text-align: center;
    border: 7px solid blue;
    border-radius: 10%;
}

small {
    color: red;
}

button {
    border-radius: 5px;
    padding: 0.5rem;
    background-color: blue;
    border: 2px solid blue;
    color: white;
    font-size: medium;
    font-weight: 700;
}
button:hover {
    background-color: darkblue;
    border: 2px solid darkblue;
}

h1 {
    text-decoration: underline blue;
}